/* header.component.css */
.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid #111;
    border-bottom: 1px solid #999;
    background-color: #fff;
    padding: 0 20px; /* Adicionar padding lateral */
    height: 70px; /* Altura fixa para melhor alinhamento */
}

.header-logo {
    flex: 0 1 auto; /* Forçar distribuição igual de espaço */
}

.header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.header-user {
    display: flex;
    align-items: baseline; /* Alinhamento na mesma linha base */
    gap: 8px;
    height: 100%;
}
.header-user span {
    position: relative;
    top: -1px; /* Compensação igual para o "ou" */
}

/* Ajustes de tamanho e alinhamento */
.header-logo img {
    width: 60px;
    height: auto;
    padding: 8px 0; /* Remover padding lateral */
}

.arena {
    font-weight: bold;
    font-size: 14px;
    text-transform: lowercase;
    position: relative;
    top: 1px; /* Ajuste fino de alinhamento vertical */
}

.furia {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 6px;
    text-transform: uppercase;
    position: relative;
    left: -3px; /* Compensar espaçamento entre as palavras */
}

.nav-link {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    position: relative;
    top: -1px; /* Ajuste fino de alinhamento */
}